<form>
    <div class="search-bar">
      {{input value=query autofocus=true
      placeholder="Find Email by Github Username"}}
    </div>
    <input class="search-btn" type="submit" value="">
</form>


